/* assets/design-system/utilities/breakpoints.scss */

/* Breakpoints */
$breakpoint-mobile-portrait: 375px;
$breakpoint-mobile-landscape: 812px;
$breakpoint-tablet-portrait: 768px;
$breakpoint-tablet-landscape: 1024px;
$breakpoint-desktop: 1440px;

/* Media Query Mixins */
@mixin respond-to($breakpoint) {
  @if $breakpoint == mobile-portrait {
    @media (max-width: $breakpoint-mobile-portrait) {
      @content;
    }
  } @else if $breakpoint == mobile-landscape {
    @media (min-width: ($breakpoint-mobile-portrait + 1px)) and (max-width: $breakpoint-mobile-landscape) and (orientation: landscape) {
      @content;
    }
  } @else if $breakpoint == tablet-portrait {
    @media (min-width: $breakpoint-tablet-portrait) and (max-width: ($breakpoint-tablet-landscape - 1px)) {
      @content;
    }
  } @else if $breakpoint == tablet-landscape {
    @media (min-width: $breakpoint-tablet-landscape) and (max-width: ($breakpoint-desktop - 1px)) and (orientation: landscape) {
      @content;
    }
  } @else if $breakpoint == desktop {
    @media (min-width: $breakpoint-desktop) {
      @content;
    }
  }
}
