/* assets/design-system/utilities/variables/themes.scss */

// Usable Design tokens
// --tertiary
// --secondary
// --primary
// --background
// --background-2
// --background-strong
// --text-primary
// --text-secondary
// --border
// --hover
// --shadow


/* Light Mode set as default */
:root {
  --tertiary: var(--tertiary-light);
  --secondary: var(--secondary-light);
  --primary: var(--primary-light);
  --background: var(--background-light);
  --background-2: var(--background-2-light);
  --background-strong: var(--background-strong-light);
  --text-primary: var(--text-primary-light);
  --text-secondary: var(--text-secondary-light);
  --border: var(--border-light);
  --hover: var(--hover-light);
  --shadow: var(--grey-light);
}

/* Dark Mode */
[data-theme='dark'] {
  --tertiary: var(--tertiary-dark);
  --secondary: var(--secondary-dark);
  --primary: var(--primary-dark);
  --background: var(--background-dark);
  --background-2: var(--background-2-dark);
  --background-strong: var(--background-strong-dark);
  --text-primary: var(--text-primary-dark);
  --text-secondary: var(--text-secondary-dark);
  --border: var(--border-dark);
  --hover: var(--hover-dark);
  --shadow: var(--grey-dark);
}

/* System Preference for Dark Mode */
@media (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --primary: var(--primary-dark);
    --secondary: var(--secondary-dark);
    --tertiary: var(--tertiary-dark);
    --background: var(--background-dark);
    --background-2: var(--background-2-dark);
    --background-strong: var(--background-strong-dark);
    --text-primary: var(--text-primary-dark);
    --text-secondary: var(--text-secondary-dark);
    --border: var(--border-dark);
    --hover: var(--hover-dark);
    --shadow: var(--grey-dark);
  }
}
