.index {
  display: flex;
  flex-direction: column;
  align-items: center; /* Ensures all child elements are horizontally centered */
  min-height: 100vh;
  width: 100%;
}

.create-app-container {
  margin-bottom: var(--spacing-l);
  display: flex;
  justify-content: center; /* Centers the button horizontally */
  width: 100%;
}

.create-app-button {
  padding: var(--spacing-s) var(--spacing-m);
  font-size: var(--font-size-m);
  color: #fff;
  background-color: var(--primary);
  border: none;
  border-radius: var(--radius-s);
  cursor: pointer;
  width: 100%; /* Full width for mobile */
  max-width: 620px; /* Restrict button width for larger screens */
}

.create-app-button:hover {
  background-color: var(--primary-hover);
}

.collection {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  align-items: center; /* Centers the cards/cells horizontally */
  justify-content: center; /* Ensures the collection is centered */
}

.card-container, .filtered-collection-container, .current-card {
  display: flex;
  justify-content: center; /* Ensures individual cards/cells are centered */
  width: 100%;
}

@media (min-width: 550px) {
  .card-container, .filtered-collection-container, .current-card {
    max-width: 550px; /* Larger max width for wider screens */
  }
}
