/* Shared Form Styles */

/* Component Wrapper */
.profile-forms {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  max-width: 600px;
  
  /* Style for icons */
  .icon {
    color: var(--text-secondary);
  }

  /* Input and Textarea text color */
  input,
  textarea {
    color: var(--text-secondary); /* Use your desired color here */
    background-color: var(--background); /* Background color */

  }
}

/* Form Field Container */
.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 100%;
  margin-bottom: var(--spacing-xs);
}
.form-field::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--border);
  margin-top: var(--spacing-s);
}
/* Top Section with Label and Icons */
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-primary); /* Primary text color */
  background-color: var(--background-2); /* Background for the header */
  border-radius: var(--radius-s);
  padding-bottom: var(--spacing-xs); /* Padding for better spacing */
}

/* Label Style */
label {
  font-weight: var(--font-weight-bold); /* Bold label */
  font-size: var(--font-size-m);
}

/* Display Text */
.display span {
  flex-grow: 1;
  color: var(--text-secondary); /* Secondary text color */
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
}

/* Editable Input Base Class */
.editable-input {
  width: 100%;
  box-sizing: border-box;
  padding: var(--spacing-xxs);
  font-size: var(--font-size-m);
  border: 1px solid var(--border);
  border-radius: var(--radius-xs);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-m);
  margin-bottom: var(--font-size-s);
}

.editable-input:focus {
  outline: none;
  border-color: var(--hover); /* Change border on focus */
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1); /* Subtle shadow for focus */
}

/* Editable Textarea */
.editable-textarea {
  padding: var(--spacing-xxs);
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
  border: 1px solid var(--border);
  border-radius: var(--radius-xs);
}


/* Action Icons */
.component-icons, .list-icons, .centred-icons {
  display: flex;
  gap: var(--spacing-xs); /* Gap between icons */
}

.field-icon {
  cursor: pointer;
}

.field-icon:hover {
  color: var(--hover); /* Color change on hover */
}

/* Error Message */
.error-message {
  color: var(--error);
  font-size: 0.875em;
  margin-top: 0.5em;
}

/* Additional Input Container Styles */
.input-container {
  margin-top: 1em;
}

.input-group {
  width: 100%;
  margin-bottom: var(--spacing-s);
}

.editing-list-item, .display-list-item-view {
  margin-bottom: 0.5em;
  color: var(--text-secondary);
  background-color: var(--background);
  padding: var(--spacing-xxs);
  border-radius: var(--radius-xs);
}
