/* assets/design-system/utilities/variables/colors.scss */

/* Color palette */
:root {
  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --gray-900: #111827;

  --red-100: #fee2e2;
  --red-500: #ef4444;
  --red-700: #b91c1c;

  --yellow-100: #fef3c7;
  --yellow-500: #f59e0b;
  --yellow-700: #b45309;

  --green-100: #d1fae5;
  --green-500: #10b981;
  --green-700: #047857;

  /* Error system */
  --error-light: var(--red-100);
  --error: var(--red-500);
  --error-dark: var(--red-700);

  /* Warning system */
  --warning-light: var(--yellow-100);
  --warning: var(--yellow-500);
  --warning-dark: var(--yellow-700);

  /* Success system */
  --success-light: var(--green-100);
  --success: var(--green-500);
  --success-dark: var(--green-700);

  /* Grayscale Palette */
  --surface-subtle: var(--gray-100);
  --surface-default: var(--gray-200);
  --surface-disabled: var(--gray-200);
  --border-default: var(--gray-400);
  --border-disabled: var(--gray-300);
  --border-darker: var(--gray-700);
  --text-title: var(--gray-900);
  --text-body: var(--gray-800);
  --text-subtitle: var(--gray-600);
  --text-caption: var(--gray-500);
  --text-negative: var(--gray-100);
  --text-disabled: var(--gray-500);
}
