/* === assets/design-system/elements/atoms.scss === */

/* Icon styles */
.icon {
  cursor: pointer;
  color: var(--text-primary);
  width: 24px;
  height: 24px;
  // transition: color 0.3s ease;
  transition: transform 0.2s ease, color 0.3s ease;
}

.icon--medium {
  width: 28px;
  height: 28px;
}

.icon--large {
  width: 32px;
  height: 32px;
}

.icon:hover {
  color: var(--hover);
  transform: scale(1.1);
}

/* Text and links */
a {
  text-decoration: none;
  color: var(--text-primary);
  transition: color 0.3s ease;
}

/* Error messages */
.error-message {
  color: var(--error);
  font-size: var(--font-size-s);
  margin-top: var(--spacing-xs);
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

p {
  text-align: center;
  line-height: 1.6;
  margin: var(--spacing-s) auto;
}
